* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  overflow: hidden;
}

canvas {
  display: block;
}

body,
canvas {
  cursor: url("/cursors/cursor-gray.png") 4 4, auto;
}

a,
button,
[role="button"],
.clickable {
  cursor: url("/cursors/pointer-gray.png") 8 2, pointer;
}